header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: var(--light);
  }
  
  

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
    border: 10px solid #333;
    padding: 10px;
    margin: 5px;
}

.underlined-header {
    text-decoration: underline;
}


.flex-container {
    display: flex;
    justify-content: space-around; 
    border: 10px solid #1900ff; 
    padding: 10px;
    background-color: rgb(0, 129, 136);
}

